/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

:root {
  --container-padding-desktop: 200px;
  --container-padding-mobile: 16px;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--container-padding-desktop);
  padding-right: var(--container-padding-desktop);
}


header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
}


/* Mobile */
@media (max-width: 768px) {
  .container {
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);
  }
}