.site-header {
  background-color: #04826A;
  display: flex;
  justify-content: center;    
  gap: 1rem; 
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;                   
}

@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 7vw;
  }
}
