.hero-banner {
  width: 100%;
  height: 350px;
  background-image: url('../../assets/images/banner_fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Escurece ou ajusta o contraste */
.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
}

.hero-content {
  color: #fff;
  text-align: center;
}
