.create-emergency-btn {
  width: fit-content;
  max-width: 550px;
  background-color: #04826A;
  border: none;
  border-radius: 14px;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

/* On click soft animation*/
.create-emergency-btn:active {
  transform: scale(0.98);
  opacity: 0.9;
}

/*Formatter text*/
.create-emergency-btn .text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Title */
.create-emergency-btn .title {
  font-size: 0.8rem;
  font-weight: 700;
}



/*Footer button*/
.create-emergency-small-btn {
  width: 100px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
  padding: 10px 12px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #04826A;
}

