.footer-header {
  background-color: #f24d4d;
  color: white;
  bottom: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
